//
// Badge
//


.badge {
  border-radius: 100%;
  padding: 3px;
  font-size: 10px;
  position: absolute;
  font-weight: 700;
  height: 18px;
  min-width: 18px;
  text-align: center;

  &--primary {
    background-color: red;
  }

  &--bottom {
    bottom: -6;
    right: 6px;
  }
}
