//
// Navigation
//


.navigation {
  background-color: $navigation-background-color;
  display: none;

  @include media-up('lg') {
    display: block;
  }

  &--mobile-visible {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    display: block;
    z-index: 10;
    background-color: #ffffff;
  }

  &__menu {
    padding: 30px 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: static;
    height: 100%;

    @include media-up('lg') {
      padding: 0;
      height: auto;
      position: relative;
      flex-direction: row;
    }
  }

  &__nav-close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @include media-up('lg') {
      display: none;
    }

    > button {
      font-size: 2.4rem;
      color: black;
    }
  }

  &__item {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0 14px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:first-child {
      padding: $navigation-item-padding $navigation-item-padding $navigation-item-padding 0;
    }

    @include media-up('lg') {
      display: block;
      padding: $navigation-item-padding;
      border-bottom: none;

      &:last-child {
        border-bottom: none;
      }
    }

    > a {
      color: #999999;
      font-size: 1.6rem;

      @include media-up('lg') {
        font-size: $navigation-item-font-size;
        text-transform: uppercase;
        color: $navigation-item-color;
        font-weight: $navigation-item-font-weight;
      }
    }

    > button {
      @include media-up('lg') {
        display: none;
      }
    }

    &--dropdown {
      &:hover {
        > .navigation__dropdown {
          display: block;
        }
      }
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    padding: 15px;
    margin: 0;
    border: 1px solid #cccccc;
    z-index: 10;

    @include media-up('lg') {
      top: 48px;
    }
  }
}
