//
// Product buy
//


.product-buy {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 15px;

  @include media-up('sm') {
    flex-direction: row;
  }

  &__form {
    display: flex;
    flex-direction: row;

    @include media-up('sm') {
      flex: 0 0 345px;
      margin: 0 15px 0 0;
    }

    @include media-up('md') {
      flex: 0 0 335px;
    }

    @include media-up('lg') {
      flex: 0 0 315px;
    }

    @include media-up('xl') {
      flex: 0 0 335px;
    }
  }

  &__quantity {
    flex: 0 1 100%;
    margin: 0 15px 0 0;

    @include media-up('sm') {
      flex: 0 0 130px;
    }

    @include media-up('md') {
      flex: 0 0 120px;
    }

    @include media-up('lg') {
      flex: 0 0 110px;
    }

    @include media-up('xl') {
      flex: 0 0 120px;
    }

    > input {
      text-align: center;
    }
  }

  &__button {
    flex: 0 1 60px;

    @include media-up('sm') {
      flex: 0 0 200px;
    }

    @include media-up('md') {
      flex: 0 0 200px;
    }

    @include media-up('lg') {
      flex: 0 0 190px;
    }

    @include media-up('xl') {
      flex: 0 0 200px;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include media-up('sm') {
      flex: 0 0 120px;
    }

    > a {
      padding: 7px 15px;
      color: grey;
      transition: color $transition-duration;

      &:hover {
        color: red;
      }

      > i {
        font-size: 1.2rem;

        @include media-up('sm') {
          font-size: 2.4rem;
        }
      }

      > span {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }
}
