//
// Product categorization
//


.product-categorization {
  display: flex;
  flex-direction: column;

  &__item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;

    @include media-up('lg') {
      flex-direction: row;
      margin: 0 0 5px 0;
    }

    > span {
      color: black;
      font-size: 1.2rem;
      font-weight: 400;
      margin: 0 10px 3px 0;

      @include media-up('lg') {
        margin: 0 10px 0 0;
        font-size: 1.4rem;
      }
    }

    > ol {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      > li {
        position: relative;
        margin: 0 10px 0 0;
        padding: 0 10px 0 0;

        &:after {
          position: absolute;
          content: ' ';
          width: 1px;
          height: 16px;
          background-color: grey;
          top: 0;
          right: 0;
        }

        &:last-child {
          &:after {
            content: none;
          }
        }

        a {
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }
  }
}
