<div class="benefit">
    <div class="row">
        <div class="col col--xs-12 col--md-6 col--lg-3">
            <div class="benefit__item">
                <div class="benefit__icon">
                    <i class="icon icon--rocket"></i>
                </div>
                <div class="benefit__content">
                    <p class="benefit__title">
                        Free Delivery
                    </p>
                    <p class="benefit__desc">
                        For all orders over $99
                    </p>
                </div>
            </div>
        </div>
        <div class="col col--xs-12 col--md-6 col--lg-3">
            <div class="benefit__item">
                <div class="benefit__icon">
                    <i class="icon icon--rocket"></i>
                </div>
                <div class="benefit__content">
                    <p class="benefit__title">
                        Title
                    </p>
                    <p class="benefit__desc">
                        Desc
                    </p>
                </div>
            </div>
        </div>
        <div class="col col--xs-12 col--md-6 col--lg-3">
            <div class="benefit__item">
                <div class="benefit__icon">
                    <i class="icon icon--rocket"></i>
                </div>
                <div class="benefit__content">
                    <p class="benefit__title">
                        Title
                    </p>
                    <p class="benefit__desc">
                        Desc
                    </p>
                </div>
            </div>
        </div>
        <div class="col col--xs-12 col--md-6 col--lg-3">
            <div class="benefit__item">
                <div class="benefit__icon">
                    <i class="icon icon--rocket"></i>
                </div>
                <div class="benefit__content">
                    <p class="benefit__title">
                        Title
                    </p>
                    <p class="benefit__desc">
                        Desc
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>