<div class="legal">
    <p class="legal__copyright">
        © 2018 Martfury. All Rights Reserved
    </p>
    <div class="legal__payment">
        <p class="legal__payment-desc">
            We Using Safe Payment For
        </p>
        <div class="legal__payment-icons">
            <img src="#" alt="#">
            <img src="#" alt="#">
            <img src="#" alt="#">
            <img src="#" alt="#">
            <img src="#" alt="#">
            <img src="#" alt="#">
        </div>
    </div>
</div>
