<div class="grid">
    <div class="row">
        <div class="col col--xs-12">
            <div class="navigation__nav-close">
                <button data-nav-close="">
                    <i class="icon icon--heart"></i>
                </button>
            </div>
            <ul class="navigation__menu">
                <li class="navigation__item navigation__item--dropdown">
                    <a href="#">
                        Item 1
                    </a>
                    <button>
                        <i class="icon icon--plus-circle"></i>
                    </button>
                    <ul class="navigation__dropdown">
                        Dropdown Item 1
                    </ul>
                </li>
                <li class="navigation__item navigation__item--dropdown">
                    <a href="#">
                        Item 2
                    </a>
                    <ul class="navigation__dropdown">
                        Dropdown Item 2
                    </ul>
                </li>
                <li class="navigation__item">
                    <a href="#">
                        Item 3
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>