<nav class="nav" data-nav="">
    <div class="grid">
        <div class="row">
            <div class="col col--xs-12">
                <ul class="main-nav__menu">
                    <li class="main-nav__item main-nav__item--drop-down" data-nav-item="">
                        <a href="#">
                            Tagesgeld
                        </a>
                        <ul class="main-nav__sub-menu">
                            <li class="main-nav__sub-item">
                                <a href="#">
                                    Tagesgeld Anbieter
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-nav__item" data-nav-item="">
                        <a href="#">
                            Tagesgeld Vergleich
                        </a>
                    </li>
                    <li class="main-nav__item main-nav__item--drop-down" data-nav-item="">
                        <a href="#">Tagesgeld Zinsen</a>
                        <ul class="main-nav__sub-menu">
                            <li class="main-nav__sub-item">
                                <a href="#">
                                    Tagesgeld Zinsen Vergleich
                                </a>
                            </li>
                            <li class="main-nav__sub-item">
                                <a href="#">
                                    Tagesgeld Zinsen Anbieter
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
