<div class="grid">
    <div class="row">
        <div class="col col--xs-12 col--sm-6 col--md-4 col--lg-3">
            <div class="product-card">
                <div class="product-card__image">
                    <img src="img/product_main_image.jpg" alt="Main Image.">
                </div>
                <div class="product-card__name">
                    <h2>
                        Product name
                    </h2>
                </div>
                <div class="product-card__review">
                    <i class="icon icon--star"></i>
                    <i class="icon icon--star"></i>
                    <i class="icon icon--star-half"></i>
                    <i class="icon icon--star-empty"></i>
                    <i class="icon icon--star-empty"></i>
                    <span>
                        (3 Reviews)
                    </span>
                </div>
                <div class="product-card__price product-card__price--cheap">
                    <span>
                        45,99 €
                    </span>
                    <span>
                        55,99 €
                    </span>
                </div>
            </div>
        </div>
        <div class="col col--xs-12 col--sm-6 col--md-4 col--lg-3">
            <div class="product-card">
                <div class="product-card__wrapper">
                    <div class="product-card__image">
                        <img src="img/product_main_image.jpg" alt="Main Image.">
                    </div>
                    <div class="product-card__actions">
                        <a href="#">
                            <i class="icon icon--heart"></i>
                        </a>
                        <a href="#">
                            <i class="icon icon--heart"></i>
                        </a>
                        <a href="#">
                            <i class="icon icon--heart"></i>
                        </a>
                        <a href="#">
                            <i class="icon icon--heart"></i>
                        </a>
                    </div>
                </div>
                <div class="product-card__name">
                    <h2>
                        Product name
                    </h2>
                </div>
                <div class="product-card__review">
                    <i class="icon icon--star"></i>
                    <i class="icon icon--star"></i>
                    <i class="icon icon--star-half"></i>
                    <i class="icon icon--star-empty"></i>
                    <i class="icon icon--star-empty"></i>
                    <span>
                        (3 Reviews)
                    </span>
                </div>
                <div class="product-card__price product-card__price--default">
                    <span>
                        63,99 €
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
