<html>
    <head>
        <title>
            {{= it.document.title }}
        </title>
        <head>
            {{= it.include('head.html') }}
        </head>
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                {{= it.include('header.html') }}
            </header>
            <nav class="navigation " data-nav-menu="">
                {{= it.include('nav.html') }}
            </nav>
            <div class="breadcrumbs">
                <div class="grid">
                    <div class="row">
                        <div class="col col--xs-12">
                            <ol class="breadcrumbs__menu">
                                <li class="breadcrumbs__item">
                                    <a href="#">
                                        Item 1
                                    </a>
                                </li>
                                <li class="breadcrumbs__item">
                                    <a href="#">
                                        Item 2
                                    </a>
                                </li>
                                <li class="breadcrumbs__item breadcrumbs__item--active">
                                    <span>
                                        Item 3
                                    </span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            {{= it.document }}
            <footer class="footer">
                {{= it.include('footer.html') }}
            </footer>
        </div>
    </body>
</html>
