<div class="grid">
    <div class="row">
        <div class="col col--xs-12">
            <h2>
                Auto width
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col col--xs">
            <div class="box">
                <p>
                    .col .col--xs
                </p>
            </div>
        </div>
        <div class="col col--xs">
            <div class="box">
                <p>
                    .col .col--xs
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col--sm">
            <div class="box">
                <p>
                    .col .col--sm
                </p>
            </div>
        </div>
        <div class="col col--sm">
            <div class="box">
                <p>
                    .col .col--sm
                </p>
            </div>
        </div>
        <div class="col col--sm">
            <div class="box">
                <p>
                    .col .col--sm
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col--md">
            <div class="box">
                <p>
                    .col .col--md
                </p>
            </div>
        </div>
        <div class="col col--md">
            <div class="box">
                <p>
                    .col .col--md
                </p>
            </div>
        </div>
        <div class="col col--md">
            <div class="box">
                <p>
                    .col .col--md
                </p>
            </div>
        </div>
        <div class="col col--md">
            <div class="box">
                <p>
                    .col .col--md
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col--lg">
            <div class="box">
                <p>
                    .col .col--lg
                </p>
            </div>
        </div>
        <div class="col col--lg">
            <div class="box">
                <p>
                    .col .col--lg
                </p>
            </div>
        </div>
        <div class="col col--lg">
            <div class="box">
                <p>
                    .col .col--lg
                </p>
            </div>
        </div>
        <div class="col col--lg">
            <div class="box">
                <p>
                    .col .col--lg
                </p>
            </div>
        </div>
        <div class="col col--lg">
            <div class="box">
                <p>
                    .col .col--lg
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col--xl">
            <div class="box">
                <p>
                    .col .col--xl
                </p>
            </div>
        </div>
        <div class="col col--xl">
            <div class="box">
                <p>
                    .col .col--xl
                </p>
            </div>
        </div>
        <div class="col col--xl">
            <div class="box">
                <p>
                    .col .col--xl
                </p>
            </div>
        </div>
        <div class="col col--xl">
            <div class="box">
                <p>
                    .col .col--xl
                </p>
            </div>
        </div>
        <div class="col col--xl">
            <div class="box">
                <p>
                    .col .col--xl
                </p>
            </div>
        </div>
        <div class="col col--xl">
            <div class="box">
                <p>
                    .col .col--xl
                </p>
            </div>
        </div>
    </div>
</div>
