<div class="grid">
    <div class="row">
        <div class="col col--xs-12">
            <h2>
                Nested
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col col--xs-12">
            <div class="box">
                <p>
                    .col .col--xs-12
                </p>
                <div class="row">
                    <div class="col col--xs-6">
                        <div class="box">
                            <p>
                                .col .col--xs-6
                            </p>
                        </div>
                    </div>
                    <div class="col col--xs-6">
                        <div class="box">
                            <p>
                                .col .col--xs-6
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
