<div class="grid">
    <div class="row">
        <div class="col col--xs-12">
            <h2>
                Responsive
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col col--xs-12">
            <div class="box">
                <p>
                    .col .col--xs-12
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col--sm-6">
            <div class="box">
                <p>
                    .col .col--sm-6
                </p>
            </div>
        </div>
        <div class="col col--sm-6">
            <div class="box">
                <p>
                    .col .col--sm-6
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col--md-4">
            <div class="box">
                <p>
                    .col .col--md-4
                </p>
            </div>
        </div>
        <div class="col col--md-4">
            <div class="box">
                <p>
                    .col .col--md-4
                </p>
            </div>
        </div>
        <div class="col col--md-4">
            <div class="box">
                <p>
                    .col .col--md-4
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col--lg-3">
            <div class="box">
                <p>
                    .col .col--lg-3
                </p>
            </div>
        </div>
        <div class="col col--lg-3">
            <div class="box">
                <p>
                    .col .col--lg-3
                </p>
            </div>
        </div>
        <div class="col col--lg-3">
            <div class="box">
                <p>
                    .col .col--lg-3
                </p>
            </div>
        </div>
        <div class="col col--lg-3">
            <div class="box">
                <p>
                    .col .col--lg-3
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col--xl-2">
            <div class="box">
                <p>
                    .col .col--xl-2
                </p>
            </div>
        </div>
        <div class="col col--xl-2">
            <div class="box">
                <p>
                    .col .col--xl-2
                </p>
            </div>
        </div>
        <div class="col col--xl-2">
            <div class="box">
                <p>
                    .col .col--xl-2
                </p>
            </div>
        </div>
        <div class="col col--xl-2">
            <div class="box">
                <p>
                    .col .col--xl-2
                </p>
            </div>
        </div>
        <div class="col col--xl-2">
            <div class="box">
                <p>
                    .col .col--xl-2
                </p>
            </div>
        </div>
        <div class="col col--xl-2">
            <div class="box">
                <p>
                    .col .col--xl-2
                </p>
            </div>
        </div>
    </div>
</div>
