//
// Main
//


html {
  font-size: 10px;
}

.box {
  padding: 10px;
  width: 100%;
  margin: 0 0 20px 0;
  background-color: blue;

  p {
    margin: 0;
    color: #ffffff;
  }
}

// Base
@import "base/normalize";
@import "base/variables";
@import "base/colors";
@import "base/fonts";
@import "base/icons";
@import "abstracts/button";


// Abstracts
@import "abstracts/media_query";
@import "abstracts/grid";
@import "abstracts/colors";


// Components
@import "components/grid";
@import "components/button";
@import "components/flex";
@import "components/visibility";
@import "components/dropdown";
@import "components/form";
@import "components/badge";
@import "components/list";


// Modules
@import "modules/main";
@import "modules/header";
@import "modules/navigation";
@import "modules/breadcrumb";
@import "modules/product_header";
@import "modules/product_image";
@import "modules/product_info";
@import "modules/product_buy";
@import "modules/product_categorization";
